---

import Layout from '../layouts/Layout.astro';
import FloatingButton from "../components/FloatingButton.astro"
import Products from "../components/Products.astro"
import About from '@components/About.astro';
---

<Layout>
<Products/>
<div class="bg-[#04303b]">
<About/>
</div>
<FloatingButton />
</Layout>
