---

import Layout from '../layouts/Layout.astro';
import FloatingButton from "../components/FloatingButton.astro"
---

<Layout>
	<p>Principal content</p>
	<p>Principal content</p>
	<p>Principal content</p>
	<p>Principal content</p>
	<p>Principal content</p>
	<p>Principal content</p>
	<p>Principal content</p>
	<p>Principal content</p>
<FloatingButton />
</Layout>
