---

import Layout from '../layouts/Layout.astro';
import FloatingButton from "../components/FloatingButton.astro"
import Products from "../components/Products.astro"
import Carrousel from "../components/Carrousel.astro"
---

<Layout>
<Products/>
<div class="bg-[#04303b]">
<Carrousel/>
</div>
<FloatingButton />
</Layout>
