---
import paisaje from '@assets/images/about.jpg';
import { Image } from 'astro:assets';
---


<section
  id='about'
  class='flex flex-col items-center py-8 relative px-8 rounded-t-2xl bg-white'
>
<h2 class='text-[#82c75c] md:text-4xl'>Nosotros</h2>

<div class="flex flex-col md:flex-row md:justify-around w-full justify-center items-center mt-8 gap-y-4">
    <p class="text-pretty max-w-md text-[#04303b] font-light md:text-xl">
        Cada gota de nuestra miel captura la riqueza floral de la región: la suavidad de las flores de arrayán, la calidez dorada del girasol, botón de oro, flor amarillo, y la exquisita influencia del mejor café del mundo. El resultado es un néctar con cuerpo, carácter y sabor único que refleja la esencia pura de nuestras montañas, ubicadas en zona de reserva forestal
    </p>
    <div class="flex justify-center items-center">
        <Image src={paisaje} alt="about_image" class="md:max-w-xl max-h-80 rounded-xl shadow-2xl shadow-[#04303b]">
    </div>
</div>
  
</section>
