<section
  id='about'
  class='flex flex-col items-center py-8 relative px-8 rounded-t-2xl bg-white'
>
  <h2 class=''>Nuestros Productos</h2>
  <p class='pt-8'>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod laboriosam
    odit illo cum! Libero eum fugit magni, dolor voluptas corporis earum rem
    placeat repellat, consequuntur quas provident recusandae iste similique,
    fugiat obcaecati excepturi accusamus. Vel dolores modi voluptatibus
    quibusdam in? Fuga accusamus error omnis corrupti quidem. Quae illo
    exercitationem soluta! Delectus esse ratione tenetur. Quia minus provident
    nihil nisi vel iste odit, magnam, recusandae eum deleniti veniam qui
    accusamus id amet fuga. Aut quos recusandae ut eligendi incidunt aperiam
    distinctio quidem totam cum expedita, sit quia, pariatur aliquam asperiores
    ipsam ratione mollitia dolores quibusdam a deleniti nobis neque maiores
    dolorem temporibus? Doloremque itaque fugiat dolorem? Soluta facilis quaerat
    sapiente asperiores dignissimos reiciendis impedit dicta, deserunt
    voluptatum odit perferendis, eligendi laboriosam. Earum molestias alias enim
    facere sapiente repellendus rerum suscipit illum, est aliquid tempore
    corporis temporibus sit sint, veniam ullam dolorum vel ipsam quae quis.
    Facilis esse velit id, quaerat similique reiciendis a consectetur labore
    dignissimos quidem dolorum, modi harum voluptates quia itaque corrupti
    aliquid dicta in. Culpa architecto eos, dolor nostrum unde alias perferendis
    iste et sit tempore maiores, veniam a facere, obcaecati necessitatibus
    dignissimos sapiente dolores! Repellendus ad earum excepturi sit accusamus
    dignissimos beatae, dolorem vel, dicta, ea doloremque.
  </p>
</section>
