---
import ContactButton from "@components/ContactButton.astro"
import Nav from "@components/Nav.astro"
---

<header
 id="home" class='bg-[url(/src/assets/images/hero.jpg)] bg-cover md:h-screen rounded-b-2xl'
>
  <Nav />
  <div
    class='grid grid-col md:grid-cols-2 md:items-center text-white h-full align-middle '
  >
  <div class="flex flex-col gap-y-4 md:ps-32 text-center md:text-start">
    <h1
      class='text-4xl md:text-6xl text-principal/90 font-semibold text-[#82c75c]'
    >
      Finca Landak
    </h1>

    <p class='text-xl md:text-2xl text-[#82c75c]'>Agrecología Integral</p>

    <p class='text-wrap:pretty text-sm md:text-xl md:max-w-xl px-4'>
      Somos Apiario Landak, un emprendimiento familiar vinculado a la comunidad
      étnica del Consejo Comunitario Afro Vallecito. Nuestra miel orgánica cruda
      es producida directamente en las montañas del municipio PEDET Pradera, en
      el Cauca, entre los 1.500 y 1.800 msnm.
    </p>

    <div class='flex flex-col gap-2 md:gap-4 md:pt-12 sm:flex-row pb-2 md:pb-8 px-4'>
      <a
        href='#products'
        class='rounded-sm px-4 py-3 text-sm text-center font-normal bg-transparent border hover:border-[#82c75c] hover:bg-[#82c75c] border-white animation: transition-all duration-300 ease-in-out'
        >Explora nuestros Productos</a
      >
      <a
        href='#contact'
        class='rounded-sm px-4 py-3 text-sm text-center font-normal border hover:border-[#82c75c] hover:bg-[#82c75c] animation: transition-all duration-300 ease-in-out'
        >Contacta con Nosotros</a
      >
    </div>
  </div>
  </div>
</header>
