---
 import './src/styles/global.css'
 import Footer from "../components/Footer.astro"
 import Header from "../components/Header.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>Finca Landak</title>
	</head>
	<body class="font-sans text-[#04303b] grid grid-flow-rows">
    <Header/>
		<main class="bg-white px-4">    
			<slot />
		</main>
    <Footer />
  </body>
</html>

<style>
  :root {
    color-scheme: light dark;
  }

  html {
    scroll-behavior: smooth;
    font-family: "Onest Variable", Arial;
  }
</style>
