---
 import '../styles/global.css'
 import Footer from "../components/Footer.astro"
const { footerBg } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Finca Landak</title>
	</head>
	<body class="font-sans text-[#04303b] grid grid-flow-rows">
    <slot name="header" />
		<main class="bg-white">    
			<slot />
		</main>
    <div class={` ${footerBg || 'bg-white'}`}}>
      <Footer />
    </div>
  </body>
</html>

<style>
  :root {
    color-scheme: light dark;
  }

  html {
    scroll-behavior: smooth;
    font-family: "Onest Variable", Arial;
  }
</style>
